autobahn==0.10.4
cffi==1.0.2.post2
characteristic==14.3.0
crossbar==0.10.4
cryptography==0.9
enum34==1.0.4
futures==2.2.0
idna==2.0
ipaddress==1.0.7
Jinja2==2.7.3
livestreamer==1.11.1
MarkupSafe==0.23
mistune==0.5.1
netaddr==0.7.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.13
Pygments==2.0.2
pyOpenSSL==0.15.1
PyTrie==0.2
PyYAML==3.11
requests==2.5.1
service-identity==14.0.0
shutilwhich==1.1.0
singledispatch==3.4.0.3
six==1.9.0
treq==15.0.0
Twisted==15.2.1
txaio==1.0.0
virtualenv==13.0.1
zope.interface==4.1.2
